*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: black;
    color: white;
    padding: 15px;
}
h1,ul,li{
    display: inline;
}
ul{
    margin-left: 65%;
}
li{
    color: grey;
    cursor: pointer;
}
li:hover{
    color: white;
}
input{
    width: 60%;
    padding: 15px;
}
.searchbar{
    padding: 50px;
    text-align:center;
}
.box{
    border: 2px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    width: 220px;
}

.box:hover{
    background-color: black;
    color: white;
}

.Products{
    text-align: center;
}
.about{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
.contactus{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
